{
	"useTabs": true,
	"singleQuote": true,
	"printWidth": 70,
	"proseWrap": "always",
	"plugins": ["prettier-plugin-tailwindcss"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
